$background-offWhite: #dedede;
$bg-off: #f7f7f7;
$Black: #000;
$White: white;
$Base-color: #ffd726;
$Secondary-color: #fc440f;
$Paragraph-color: #636363;
$Heading-color: #333;
$Card-bg: #fff;
$Nav-Button: #828282;
$Hambuger-bg: #333;

$background: #faf8e3;
$secondary-background: #18191c;
$header: #18191c;
$sub-header: #808080;
$text: rgba(255, 255, 255, 0.8);
$white: #fff;
$black: #000;
$button-bg: #3ddcff;
