@import "./_breakpoints.scss";
@import "./_fonts.scss";
@import "./_colors.scss";

.hamburger_button {
  z-index: 10;
  margin-left: 10px;
  stroke-width: 3px;
  stroke: #000;
  color: $Black;
}

.panel {
  transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
  position: fixed;
  z-index: -1;
  top: 5rem;
  height: fit-content;
  visibility: hidden;
  opacity: 0;
  display: flex;
  background: #18191c;

  &.open {
    visibility: visible;
    width: 100%;
    right: 0;
    opacity: 1;
  }
}

.panel ul {
  display: flex;
  width: 46.5rem;
  padding: 4.5rem 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.75rem;

  > li {
    list-style: none;
    color: #fff;
    font-family: $Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
