@import "./_colors.scss";
@import "./_breakpoints.scss";
@import "./_fonts.scss";

.hero_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  position: relative;
  padding: 10rem 6.25rem;

  @include tablet {
    padding: 5rem 5.5rem;
    max-height: 20rem;
  }

  @include mobile {
    padding: 1.25rem 1.5rem;
    max-height: fit-content;
  }

  > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 52.4375rem;
    width: 100%;
    justify-content: space-around;
    z-index: 1;
    gap: 0.75rem;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
      gap: 2.5rem;
    }

    > h3 {
      color: $sub-header;
      text-align: center;
      font-family: $Montserrat;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 1.5rem */
      font-variant: all-small-caps;
      letter-spacing: 0.21563rem;

      @include mobile {
        font-size: 0.75rem;
      }
    }

    > h1 {
      color: $header;
      text-align: center;
      font-family: $Atteron;
      font-size: 4.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include mobile {
        font-size: 3rem;
      }
    }

    > p {
      color: $white;
      text-align: center;
      font-family: $Montserrat;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
    }

    > button {
      display: inline-flex;
      padding: 0.875rem 2.375rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border-radius: 2.625rem;
      border: none;
      background: $button-bg;
      color: $button-text;
      font-family: $Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  > .hero_backgroundimg {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 10rem;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @include mobile {
      top: 50%;
      height: 24.75rem;
      flex-shrink: 0;
    }
  }
}
