@import "./_colors.scss";
@import "./_breakpoints.scss";
@import "./_fonts.scss";

.locate_wrapper {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
  padding: 5rem 6.25rem;

  @include mobile {
    padding: 2.5rem 2rem;
    gap: 2rem;
  }

  > div {
    max-width: 76.375rem;
    width: 100%;
    max-height: 30.625rem;
    height: auto;
    flex-shrink: 0;
    border-radius: 1.5rem;
    border: 9px solid #18191c;
    background: #18191c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.99rem 0.6rem;

    @include mobile {
      flex-direction: column;
      height: 100vh;
      // width: auto;
    }

    > .locate_left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.25rem;
      padding: calc(4.5rem - 1.99rem) calc(3.88rem - 0.6rem);

      @include mobile {
        padding: 0;
      }

      > h3 {
        color: #808080;
        font-family: $Montserrat;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 1.5rem */
        font-variant: all-small-caps;
        letter-spacing: 0.21563rem;

        @include mobile {
          font-size: 0.46875rem;
        }
      }

      > h1 {
        color: #fff;
        font-family: $Atteron;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 146.5%; /* 4.395rem */

        @include mobile {
          font-size: 1.5rem;
        }
      }

      > button {
        display: inline-flex;
        padding: 0.875rem 2.375rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 2.625rem;
        border: 2px solid $button-bg;
        background-color: transparent;
        color: $button-bg;
        font-family: $Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @include mobile {
          padding: 0.4rem 1.1rem;
          font-size: 0.5rem;
        }
      }

      .locate_icons {
        display: inline-flex;
        align-items: center;
        gap: 1.25rem;
        flex-direction: row;

        > p {
          max-width: 17.0625rem;
          width: 100%;
          color: rgba(255, 255, 255, 0.85);
          font-family: $Montserrat;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 197.5%; /* 1.72813rem */

          @include mobile {
            width: 8.5rem;
            font-size: 0.5rem;
          }
        }

        > img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    > .locate_right {
      max-width: 28.53825rem;
      width: 100%;
      height: 26.70038rem;
      flex-shrink: 0;
      border-radius: 1.5625rem;

      @include mobile {
        height: 13rem;
        width: 100%;
      }
    }
  }
}
