@import "./_colors.scss";
@import "./_breakpoints.scss";
@import "./_fonts.scss";

.services_wrapper {
  display: flex;
  // height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background: $secondary-background;
  padding: 5rem 6.25rem;
  //   gap: 5.62rem;

  @include mobile {
    padding: 5rem 3.125rem;
    gap: 2rem;
  }

  > header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 41.75rem;
    width: 100%;

    > h3 {
      color: #808080;
      font-family: $Montserrat;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 1.5rem */
      font-variant: all-small-caps;
      letter-spacing: 0.21563rem;

      @include mobile {
        font-size: 0.4375rem;
      }
    }

    > h1 {
      color: #fff;
      font-family: $Atteron;
      font-size: 3rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }

  > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 9rem 6rem;
    width: 100%;
    justify-content: space-between;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 5rem 3.125rem;
    }
  }
}
